<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.moonzs.mapper.ArticleMapper">
    <select id="listArticle" resultType="work.moonzs.domain.vo.web.ArticleVO">
        SELECT a.*, c.NAME AS categoryName, group_concat( t.NAME SEPARATOR ',' ) AS tagNames
        FROM t_article a
        JOIN t_category c ON a.category_id = c.id
        JOIN t_article_tag at ON a.id = at.article_id
        JOIN t_tag t ON at.tag_id = t.id
        <where>
            <if test="fuzzyField != null and fuzzyField != ''">
                a.title like concat('%',#{fuzzyField},'%') or a.summary like concat('%',#{fuzzyField},'%')
            </if>
        </where>
        GROUP BY a.id order by a.is_stick desc ,a.create_time desc
    </select>
    <select id="getArticleById" resultType="work.moonzs.domain.vo.web.ArticleVO">
        select a.id,
               a.title,
               a.avatar,
               a.summary,
               a.quantity,
               a.content,
               a.content_md,
               a.is_secret,
               a.is_stick,
               a.is_publish,
               a.is_original,
               a.original_url,
               a.remark,
               a.keywords,
               a.create_time,
               c.name as categoryName
        from t_article a
                 LEFT JOIN (SELECT id, name from t_category) c on a.category_id = c.id
        where a.id = #{id}
    </select>
    <select id="listPreviewPage" resultType="work.moonzs.domain.vo.web.ArticlePreviewVO">
        SELECT a.id AS id,
        a.title AS title,
        a.avatar AS avatar,
        a.summary AS summary,
        a.content_md AS contentMd,
        a.quantity AS quantity,
        a.is_stick AS isStick,
        a.create_time AS createTime,
        c.id AS categoryId,
        c.name AS categoryName
        FROM t_article a
        JOIN t_category c ON a.category_id = c.id
        WHERE a.is_publish = 1
        <if test="categoryId != null">
            AND a.category_id = #{categoryId}
        </if>
        <if test="tagId != null">
            AND a.id IN
            (SELECT article_id FROM t_article_tag WHERE tag_id = #{tagId})
        </if>
        <if test="keywords != null and keywords != ''">
            AND(a.title LIKE concat('%',#{keywords},'%') OR a.summary LIKE concat('%',#{keywords},'%'))
        </if>
        ORDER BY a.is_stick DESC, a.create_time DESC
    </select>
    <select id="listRecommendArticle" resultType="work.moonzs.domain.vo.web.ArticleBaseVO">
        SELECT id, title, avatar, create_time
        FROM (
                 SELECT DISTINCT article_id
                 FROM (SELECT tag_id FROM t_article_tag WHERE article_id = #{articleId}) at
                          JOIN t_article_tag at1 ON at.tag_id = at1.tag_id
                 WHERE article_id != #{articleId}
             ) a1
                 JOIN t_article a ON a1.article_id = a.id
        WHERE a.is_publish = 1
        ORDER BY is_stick DESC, id DESC
        LIMIT 6;
    </select>
    <select id="listBlogContributeCount" resultType="java.util.Map">
        SELECT DISTINCT DATE_FORMAT(create_time, '%Y-%m-%d') date, COUNT(id) count
        FROM t_article
        WHERE create_time BETWEEN #{startTime} AND #{endTime}
        GROUP BY DATE_FORMAT(create_time, '%Y-%m-%d');
    </select>

</mapper>