<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="work.moonzs.mapper.MenuMapper">
    <select id="selectMenuTreeByUserId" resultType="work.moonzs.domain.entity.Menu">
        select distinct m.`id`,
                        m.`title`,
                        m.`parent_id`,
                        m.`sort_no`,
                        m.`url`,
                        m.`component`,
                        m.`redirect`,
                        m.`hidden`,
                        m.`name`,
                        m.`type`,
                        m.`icon`,
                        m.`is_cache`,
                        m.`create_time`
        from t_menu m
                 left join t_role_menu rm on m.`id` = rm.`menu_id`
                 left join t_user u on u.`role_id` = rm.`role_id`
        where u.`id` = #{userId}
          and u.`status` = 1
          and m.`type` in ('M')
        order by m.`parent_id`, m.`sort_no`
    </select>
    <!-- 查询用户权限，通过角色查询权限-->
    <select id="selectUserPerms" resultType="java.lang.String">
        SELECT DISTINCT m.`perms`
        FROM t_menu m
                 LEFT JOIN t_role_menu rm ON m.`id` = rm.`menu_id`
                 LEFT JOIN t_user u ON u.`role_id` = rm.`role_id`
        WHERE u.`id` = #{userId}
          AND u.`status` = 1
          AND m.`type` IN ('F')
          AND m.`perms` IS NOT NULL
        ORDER BY m.`parent_id`, m.`sort_no`
    </select>
</mapper>