<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.moonzs.mapper.TagMapper">
    <insert id="saveTagsWithArticleId">
        INSERT INTO t_article_tag(article_id, tag_id)
        VALUES
        <foreach collection="tagIds" item="tagId" index="index" separator=",">
            (#{articleId}, #{tagId})
        </foreach>
    </insert>
    <delete id="removeTagsByArticleIds">
        DELETE FROM t_article_tag
        WHERE article_id in
        <foreach collection="articleIds" item="articleId" index="index" separator="," open="(" close=")">
            #{articleId}</foreach>;
    </delete>
    <select id="selectByArticleId" resultType="work.moonzs.domain.vo.TagVo">
        SELECT id, name
        FROM t_tag
        WHERE id IN (SELECT tag_id FROM t_article_tag WHERE article_id = #{articleId});
    </select>
    <select id="listByArticleId" resultType="work.moonzs.domain.entity.Tag">
        SELECT t.id,t.name,t.click_volume,t.sort,t.create_time,t.update_time
        FROM t_tag t
        LEFT JOIN t_article_tag at ON at.`tag_id` = t.`id`
        WHERE at.`article_id` IN
        <foreach item="articleId" separator="," open="(" close=")" collection="articleIds">
            #{articleId}
        </foreach>
    </select>
    <select id="getTagsByArticleId" resultType="java.lang.String">
        SELECT group_concat(t.NAME SEPARATOR ',')
        FROM t_article_tag at
                 LEFT JOIN t_tag t ON t.`id` = at.`tag_id`
        WHERE at.`article_id` = #{articleId};
    </select>

</mapper>