<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <style type="text/css">
        .qmbox html {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }

        @media only screen and (min-device-width: 750px) {
            .qmbox .table750 {
                width: 750px !important;
            }
        }

        @media only screen and (max-device-width: 750px), only screen and (max-width: 750px) {
            .qmbox table[class="table750"] {
                width: 100% !important;
            }

            .qmbox .top_pad {
                height: 15px !important;
                max-height: 15px !important;
                min-height: 15px !important;
            }

            .qmbox .mob_pad {
                width: 15px !important;
                max-width: 15px !important;
                min-width: 15px !important;
            }
        }

        .qmbox .table750 {
            width: 750px;
        }
    </style>
    <style type="text/css">
        .qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {
            display: none !important;
        }</style>
</head>
<body>
<div id="mailContentContainer" class="qmbox" style="opacity: 1;">

    <table style="background: #f3f3f3; min-width: 350px; font-size: 1px; line-height: normal;" width="100%"
           cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td valign="top" align="center">

                <table class="table750"
                       style="width: 100%; max-width: 750px; min-width: 350px; background: #f3f3f3;" width="750"
                       cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td class="mob_pad" style="width: 25px; max-width: 25px; min-width: 25px;" width="25">
                            &nbsp;
                        </td>
                        <td style="background: #ffffff;" valign="top" align="center">

                            <table style="width: 100% !important; min-width: 100%; max-width: 100%; background: #f3f3f3;"
                                   width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td valign="top" align="right">
                                        <div class="top_pad"
                                             style="height: 25px; line-height: 25px; font-size: 23px;">&nbsp;
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table style="width: 88% !important; min-width: 88%; max-width: 88%;" width="88%"
                                   cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td valign="top" align="left">
                                        <div style="height: 39px; line-height: 39px; font-size: 37px;">&nbsp;
                                        </div>
                                        <font class="mob_title1"
                                              style="font-size: 52px; line-height: 55px; font-weight: 300; letter-spacing: -1.5px;"
                                              face="'Source Sans Pro', sans-serif" color="#1a1a1a">
                                            <a href="https://ikuuu.eu" style="text-decoration:none"
                                               rel="noopener" target="_blank"><span class="mob_title1"
                                                                                    style="font-family: 'Nunito', Arial, Tahoma, Geneva, sans-serif; color: #6777ef; font-size: 48px; line-height: 55px; font-weight: 700; letter-spacing: -1.5px; font-style: italic">月尘 博客</span></a>
                                        </font>
                                        <div style="height: 53px; line-height: 73px; font-size: 71px;">&nbsp;
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table style="width: 88% !important; min-width: 88%; max-width: 88%;" width="88%"
                                   cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td valign="top" align="left">
                                        <font style="font-size: 52px; line-height: 60px; font-weight: 300; letter-spacing: -1.5px;"
                                              face="'Nunito', sans-serif" color="#1a1a1a">
                                            <span style="font-family: 'Nunito', Arial, Tahoma, Geneva, sans-serif; color: #1a1a1a; font-size: 30px; line-height: 30px; font-weight: 300; letter-spacing: -1.5px;">Hi, 尊敬的[[${email}]]用户</span>
                                        </font>
                                        <div style="height: 33px; line-height: 33px; font-size: 31px;">&nbsp;
                                        </div>
                                        <font style="font-size: 24px; line-height: 32px;"
                                              face="'Nunito', sans-serif" color="#585858">
                                            <span style="font-family: 'Nunito', Arial, Tahoma, Geneva, sans-serif; color: #585858; font-size: 24px; line-height: 32px;">&nbsp; &nbsp; &nbsp; &nbsp; 您好，非常感谢您的'[[${type}]]'反馈。阿灵答复: [[${replyContent}]] 再次感谢您的宝贵意见。</span>
                                        </font>
                                        <div style="height: 13px; line-height: 13px; font-size: 31px;">&nbsp;
                                        </div>
                                        <font style="font-size: 24px; line-height: 32px;"
                                              face="'Nunito', sans-serif" color="#585858">
                                            <span style="font-family: 'Nunito', Arial, Tahoma, Geneva, sans-serif; color: #585858; font-size: 24px; line-height: 32px;">&nbsp; &nbsp; &nbsp; &nbsp; 原反馈: [[${feedback}]]</span>
                                        </font>
                                        <div style="height: 62px; line-height: 62px; font-size: 73px;">&nbsp;
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table style="width: 100% !important; min-width: 100%; max-width: 100%; background: #f3f3f3;"
                                   width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td valign="top" align="center">
                                        <div style="height: 34px; line-height: 34px; font-size: 32px;">&nbsp;
                                        </div>
                                        <table style="width: 88% !important; min-width: 88%; max-width: 88%;"
                                               width="88%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top" align="center">
                                                    <div style="height:12px; line-height: 34px; font-size: 32px;">
                                                        &nbsp;
                                                    </div>
                                                    <font style="font-size: 17px; line-height: 20px;"
                                                          face="'Nunito', sans-serif" color="#868686">
                                                        <span style="font-family: 'Nunito', Arial, Tahoma, Geneva, sans-serif; color: #868686; font-size: 17px; line-height: 20px;">2023 © 月尘博客. All Rights Reserved.</span>
                                                    </font>
                                                    <div style="height: 3px; line-height: 3px; font-size: 1px;">
                                                        &nbsp;
                                                    </div>
                                                    <font style="font-size: 17px; line-height: 20px;"
                                                          face="'Nunito', sans-serif" color="#1a1a1a">
                                                                <span style="font-family: 'Nunito', Arial, Tahoma, Geneva, sans-serif; color: #1a1a1a; font-size: 17px; line-height: 20px;">
                                                                    <a href="https://refrainblog.cn"
                                                                       target="_blank"
                                                                       style="font-family: 'Nunito', Arial, Tahoma, Geneva, sans-serif; color: #1a1a1a; font-size: 17px; line-height: 20px; text-decoration: none;"
                                                                       rel="noopener">访问月尘博客</a>
                                                                </span>
                                                    </font>
                                                    <div style="height: 35px; line-height: 35px; font-size: 33px;">
                                                        &nbsp;
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                        <td class="mob_pad" style="width: 25px; max-width: 25px; min-width: 25px;" width="25">
                            &nbsp;
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>